name: linkwarden_stack

services:
  postgres:
    image: postgres:16-alpine
    env_file: .env
    # restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    labels:
      net.unraid.docker.icon: "https://raw.githubusercontent.com/sgraaf/Unraid-Docker-Templates/main/postgresql16/icon.png"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --username=${POSTGRES_USER:-postgres}"] # if using docker, username may be root, so default to postgres
      interval: 5s # run test for every interval of time specified
      timeout: 30s # fail check if test runs for longer than this period of time
      start_period: 5s # healthcheck failures after a container has been started do not count towards retries for this period of time
      #start_interval: 5s # Docker Engine v25 or later
      retries: 10
  linkwarden:
    env_file: .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD}@${POSTGRES_HOST:-postgres}:5432/postgres
    # restart: always
    # build: . # uncomment to build from source
    image: ghcr.io/linkwarden/linkwarden:v2.10.0 # comment to build from source
    ports:
      - ${LINKWARDEN_PORT:-3000}:3000
    volumes:
      - ./data:/data/data
    depends_on:
      postgres:
        condition: service_healthy
      meilisearch:
        condition: service_started
    labels:
      net.unraid.docker.icon: "https://raw.githubusercontent.com/UNRA1DUser/unraid-docker-templates/main/templates/img/linkwarden.png"
      net.unraid.docker.webui: http://[IP]:[PORT:3001]
  meilisearch:
    image: getmeili/meilisearch:v1.12.8
    # restart: always
    env_file:
      - .env
    volumes:
      - ./meili_data:/meili_data
    #ports:
      #- 7700:7700
    labels:
      net.unraid.docker.icon: "https://raw.githubusercontent.com/Collectathon/unraid-templates/main/icons/meilisearch.png"
      net.unraid.docker.webui: http://[IP]:[PORT:7700]